<a href="https://colab.research.google.com/github/hariprakash2109/Data_analyst/blob/main/db.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [82]:
import sqlite3
con = sqlite3.connect(':memory:')
cur = con.cursor()
#drop = '''drop table studentdent'''
#Create Database & Tables — DDL
cur.execute('''CREATE TABLE student(id integer primary key autoincrement,name text not null,department text,age int)''')

In [83]:
#Insert Records — DML
cur.executemany('''insert into student(name,department,age) values(?,?,?)''',
    [('Hari', 'MCA',22),
    ("Priya", "MBA", 24),
    ("John", "MCA", 23),
    ("Arun", "BCA", 21),
    ("Ram", "BCA", 20),
    ])

In [84]:
#Fetch / Select Data — DQL
cur.execute( '''select * from student''')
for row in cur.fetchall():
  print(row)

(1, 'Hari', 'MCA', 22)
(2, 'Priya', 'MBA', 24)
(3, 'John', 'MCA', 23)
(4, 'Arun', 'BCA', 21)
(5, 'Ram', 'BCA', 20)

In [85]:
#WHERE Clause + Operators
cur.execute("select name,age from student where age>22")
print(cur.fetchall())

[('Priya', 24), ('John', 23)]

In [86]:
#UPDATE Operations
cur.execute('update student set age=25 where name="Hari"')

In [87]:

cur.execute("select name,age from student where age>22")
print(cur.fetchall())

[('Hari', 25), ('Priya', 24), ('John', 23)]

In [88]:
#DELETE Operations
cur.execute('delete from student where name="Arun"')

In [89]:

cur.execute("select * from student")
print(cur.fetchall())

[(1, 'Hari', 'MCA', 25), (2, 'Priya', 'MBA', 24), (3, 'John', 'MCA', 23), (5, 'Ram', 'BCA', 20)]

In [90]:
#ORDER BY
cur.execute("select * from student order by age desc")
print(cur.fetchall())

[(1, 'Hari', 'MCA', 25), (2, 'Priya', 'MBA', 24), (3, 'John', 'MCA', 23), (5, 'Ram', 'BCA', 20)]

In [91]:
cur.execute("""
SELECT department, COUNT(*) AS total_studentdents
FROM student
GROUP BY department
""")
print(cur.fetchall())

[('BCA', 1), ('MBA', 1), ('MCA', 2)]

In [92]:
cur.execute("""
SELECT department, AVG(age)
FROM student
GROUP BY department
""")
print(cur.fetchall())

[('BCA', 20.0), ('MBA', 24.0), ('MCA', 24.0)]

In [93]:
cur.execute("""
SELECT department, MAX(age)
FROM student
GROUP BY department
""")
print(cur.fetchall())

[('BCA', 20), ('MBA', 24), ('MCA', 25)]

In [94]:
cur.execute("""
SELECT department, MIN(age)
FROM student
GROUP BY department
""")
print(cur.fetchall())

[('BCA', 20), ('MBA', 24), ('MCA', 23)]

In [95]:
cur.execute("""
SELECT department, GROUP_CONCAT(name, ', ')
FROM student
GROUP BY department
""")
print(cur.fetchall())

[('BCA', 'Ram'), ('MBA', 'Priya'), ('MCA', 'Hari, John')]

In [96]:
cur.execute("""
CREATE TABLE marks (
    sid INTEGER,
    subject TEXT,
    mark INTEGER,
    FOREIGN KEY(sid) REFERENCES students(id)
)
""")

cur.executemany("""
INSERT INTO marks (sid, subject, mark)
VALUES (?, ?, ?)
""", [
    (1, "AI", 85),
    (1, "DBMS", 92),
    (2, "AI", 75),
    (3, "DBMS", 88),
])

In [97]:
#JOINS (INNER JOIN)
cur.execute("""
SELECT s.id, s.name, m.subject, m.mark
FROM student s
INNER JOIN marks m ON s.id = m.sid
""")
print(cur.fetchall())

[(1, 'Hari', 'AI', 85), (1, 'Hari', 'DBMS', 92), (2, 'Priya', 'AI', 75), (3, 'John', 'DBMS', 88)]

In [98]:
cur.execute("""
SELECT s.id, s.name, m.subject, m.mark
FROM student s
LEFT JOIN marks m ON s.id = m.sid
""")
print(cur.fetchall())

[(1, 'Hari', 'AI', 85), (1, 'Hari', 'DBMS', 92), (2, 'Priya', 'AI', 75), (3, 'John', 'DBMS', 88), (5, 'Ram', None, None)]

In [99]:
cur.execute("""
SELECT s.id, s.name, m.subject, m.mark
FROM marks m
LEFT JOIN student s ON s.id = m.sid
""")
print(cur.fetchall())

[(1, 'Hari', 'AI', 85), (1, 'Hari', 'DBMS', 92), (2, 'Priya', 'AI', 75), (3, 'John', 'DBMS', 88)]

In [100]:
cur.execute("""
SELECT s.id, s.name, m.subject, m.mark
FROM student s
LEFT JOIN marks m ON s.id = m.sid
UNION
SELECT s.id, s.name, m.subject, m.mark
FROM marks m
LEFT JOIN student s ON s.id = m.sid
""")
print(cur.fetchall())

[(1, 'Hari', 'AI', 85), (1, 'Hari', 'DBMS', 92), (2, 'Priya', 'AI', 75), (3, 'John', 'DBMS', 88), (5, 'Ram', None, None)]

In [101]:
cur.execute("""
SELECT s.name, m.subject
FROM student s
CROSS JOIN marks m
""")
print(cur.fetchall())

[('Hari', 'AI'), ('Hari', 'DBMS'), ('Hari', 'AI'), ('Hari', 'DBMS'), ('Priya', 'AI'), ('Priya', 'DBMS'), ('Priya', 'AI'), ('Priya', 'DBMS'), ('John', 'AI'), ('John', 'DBMS'), ('John', 'AI'), ('John', 'DBMS'), ('Ram', 'AI'), ('Ram', 'DBMS'), ('Ram', 'AI'), ('Ram', 'DBMS')]

**Join Type	    Supported in SQLite	      Explanation**
INNER JOIN	      ✅	                   Matching rows only
LEFT JOIN	        ✅	                   All (left table) + matches
RIGHT JOIN	      ❌	                   But can simulate
FULL OUTER JOIN	  ❌	                   Use UNION workaround
CROSS JOIN	      ✅	                   Cartesian product

In [102]:
cur.execute("SELECT * FROM student WHERE name LIKE 'H%'")
print(cur.fetchall())

[(1, 'Hari', 'MCA', 25)]

In [103]:
cur.execute("""
CREATE TABLE courses (
    code TEXT UNIQUE,
    cname TEXT,
    credits INTEGER DEFAULT 3,
    CHECK(credits >= 1)
)
""")

In [104]:
cur.execute("ALTER TABLE student ADD COLUMN email TEXT")

In [105]:
cur.execute("""
SELECT name FROM student
WHERE id IN (SELECT sid FROM marks WHERE mark > 90)
""")
print(cur.fetchall())

[('Hari',)]

In [106]:
cur.execute("""
CREATE VIEW student_view AS
SELECT name, department FROM student
""")
cur.execute("SELECT * FROM student_view")
print(cur.fetchall())

[('Hari', 'MCA'), ('Priya', 'MBA'), ('John', 'MCA'), ('Ram', 'BCA')]

In [107]:
try:
    cur.execute("BEGIN")
    cur.execute("UPDATE students SET age = age + 1")
    raise Exception("Test Rollback")  # simulate error
    con.commit()
except:
    con.rollback()
    print("Rollback done!")

Rollback done!

In [108]:
cur.execute("CREATE INDEX idx_dept ON student(department)")

In [111]:
import pandas as pd

df = pd.read_sql_query("SELECT * FROM student", con)
df

Empty DataFrame
Columns: [id, name, department, age]
Index: []